<!-- FORM BIASA -->
<div th:fragment="form-pegawai">
	<div class="form-group row">
		<label for="nama" class="col-sm-4 col-form-label">Nama</label>
		<div class="col-sm-8">
			<input type="text" name="nama" class="form-control" id="nama"
				placeholder="Nama Pegawai">
		</div>
	</div>
	<div class="form-group row">
		<label for="deskripsi" class="col-sm-4 col-form-label">Tempat
			Lahir</label>
		<div class="col-sm-8">
			<input type="text" name="tempatLahir" class="form-control"
				id="tempatLahir" placeholder="Tempat Lahir">
		</div>
	</div>
	<div class="form-group row">
		<label for="tanggalLahir" class="col-sm-4 col-form-label">Tanggal
			Lahir Pokok</label>
		<div class="col-sm-8">
			<input type="date" name="tanggalLahir" class="form-control"
				id="tanggalLahir" placeholder="Tanggal Lahir">
		</div>
	</div>
	<div class="form-group row">
		<label for="tahunMasuk" class="col-sm-4 col-form-label">Tahun
			Masuk</label>
		<div class="col-sm-8">
			<input type="number" name="tahunMasuk" class="form-control"
				id="tahunMasuk" placeholder="Tahun Masuk">
		</div>
	</div>
	<div class="form-group row">
		<label for="provinsi" class="col-sm-4 col-form-label">Provinsi</label>
		<select id="provinsi" name="idProvinsi" onchange="showInstansi()">
			<option value="" disabled selected>Pilih Provinsi</option>
			<option th:each="provinsi : ${allProvinsi}" th:value="${provinsi.id}"
				th:text="${provinsi.nama}">Provinsi</option>
		</select>
	</div>
	<div class="form-group row">
		<label for="instansi" class="col-sm-4 col-form-label">Nama
			Instansi</label> <select id="instansi" th:field="${pegawai.instansi}"
			name="idInstansi" onchange="showJabatan()">
			<option value="" disabled selected>Pilih Instansi</option>
			<option th:each="instansi : ${allInstansi}" th:value="${instansi.id}"
				th:text="${instansi.nama}">Instansi</option>
		</select>
	</div>
	<div class="form-group row">
		<label for="jabatan" class="col-sm-4 col-form-label">Jabatan</label> <select
			id="jabatan" th:field="${pegawai.jabatan}" name="idJabatan"
			class="col-sm-8">
			<option value="" disabled selected>Pilih Jabatan</option>
			<option th:each="jabatan : ${allJabatan}" th:value="${jabatan.id}"
				th:text="${jabatan.nama} + ' - ' + ${jabatan.nama}">Jabatan</option>
		</select>
	</div>
	<div class="form-group">
		<div class="float-right">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</div>
</div>

<!-- YANG ADA DROP DOWNNYA -->
<div th:fragment="form-jabatan">
	<div class="form-group row">
		<label for="nama" class="col-sm-2 col-form-label">Nama</label>
		<div class="col-sm-10">
			<input type="text" name="nama" class="form-control" id="nama"
				placeholder="Nama Jabatan">
		</div>
	</div>
	<div class="form-group row">
		<label for="deskripsi" class="col-sm-2 col-form-label">Deskripsi</label>
		<div class="col-sm-10">
			<input type="text" name="deskripsi" class="form-control"
				id="deskripsi" placeholder="Deskripsi Jabatan">
		</div>
	</div>
	<div class="form-group row">
		<label for="gajiPokok" class="col-sm-2 col-form-label">Gaji
			Pokok</label>
		<div class="col-sm-10">
			<input type="number" name="gajiPokok" class="form-control"
				id="gajiPokok" placeholder="Gaji Pokok Jabatan">
		</div>
	</div>
	<div class="form-group">
		<div class="float-right">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</div>
</div>